border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments
  
box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

gradient(start, stop)
  background-color start
  background-image -ms-linear-gradient(top, start, stop) 
  background-image -moz-linear-gradient(top, start, stop) 
  background-image -webkit-gradient(linear,left top,left bottom,color-stop(0, start),color-stop(1, stop)) 
  background-image linear-gradient(top, start, stop)

transform()
  -moz-transform arguments  
  -o-transform arguments
  -webkit-transform arguments
  -ms-transform arguments  
  transform arguments
  zoom 1


transition()
  -moz-transition arguments
  -o-transition arguments  
  -webkit-transition arguments  
  transition arguments  


